@font-face {
  font-family: 'cursiv';
  src: url('/fonts/GCursiv2.ttf');
}

@font-face {
  font-family: 'cursive';
  src: url('/fonts/GCursive.ttf');
}

h1 {
  font-family: 'cursiv', sans-serif;
  text-align: center;
  color: black;
}

body {
  font-family: 'cursiv', sans-serif;
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: none;
  background-image: url("../images/background.jpg");
  background-color: blue;
  background-size: cover;
}

main {
  margin-right: 20px;
  margin-left: 20px;
}

img:not(.bg) {
  width: 35vw;
  height: 35vh;
  border: solid black 2.5px;
}

.bg {
  opacity: 0.7;
  width: 50vw;
  height: 50vh;
  border: solid black 2.5px;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.footer {
  color: rgb(235, 225, 225);
  background-color: black;
  height: fit-content;
  /* padding-block: 20px; */
  font-size: 10px;
  line-height: 22px;
  margin-top: auto;
  margin-bottom: 0px;
}

#linked:hover {
  color: rgba(255, 255, 255, 0.397);
}

nav {
  background-color: black;
  padding: 12px;
}

nav ul {
  list-style-type: none;
  margin: 8px;
}

nav li {
  display: inline;
  margin-right: 35px;
}

nav a {
  font-family: 'cursive', sans-serif;
  color: gray;
  font-size: 2em;
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: none;
}

.col-sm-6,
.col-sm-4,
.col-sm-2,
.showPage {
  color:aliceblue;
  background-color: rgba(60, 59, 59, 0.589);
  padding-top: 10px;
  padding-bottom: 15px;
}
